body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.0vw;
    @media (max-width: 480px) {
        font-size: 4vw;
    }
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

header h1 {
    font-family: 'Verdana', sans-serif;
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-family: 'Verdana', sans-serif;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 15px;
}

h2 {
    font-family: 'Arial Black', sans-serif;
    color: #4CAF50;
}

p {
    font-family: 'Verdana', sans-serif;
    color: #333;
    font-size: 1.1vw;
    @media (max-width: 480px) {
        font-size: 1.5vw;
    }
}

li {
    font-family: 'Verdana', sans-serif;
    color: #333;
    font-size: 1.4vw;
    @media (max-width: 480px) {
        font-size: 3vw;
    }

}

footer{
    font-size: 1.1vw;

}

section {
    margin-bottom: 40px;
    @media (max-width: 480px) {
        margin-bottom: 20px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Verdana', sans-serif;
    @media (max-width: 480px) {
        font-size: 1vw;
    }
    /* margin-top: 5%;  */
}

.center-button {
    display: block;
    margin: 0 auto; 
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}

.center-button:hover {
    background-color: #45a049;
} 